* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
ol,
ul,
hr,
blockquote {
  width: 700px;
  margin: 0 auto;
}
p,
blockquote,
ol,
ul,
li {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}
h1 + hr + br + p {
  color: grey;
}
h1 + hr + p {
  color: rgb(44, 44, 44);
  font-size: 22px;
}
a {
  color: inherit;
}
h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 44px;
}
h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}
h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  margin-top: 28px;
  font-size: 22px;
  line-height: 24px;
}
hr {
  width: 1024px;
  margin: 20px auto;
}
h2 + hr + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}
blockquote {
  font-style: italic;
  position: relative;
}
blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: pink;
  position: absolute;
  top: 0;
  left: -17px;
}
